body{
    background-color:  #393E46;
    font-family: 'Sigmar', cursive;
    text-align: center;
}

h1,h2,h3,h4,h5,h6,p{
    color:#F2E8D5 ;
    text-shadow: -5px 1px #0D0D0D;
}

.container-fluid{
    margin-top: 1rem ;
    padding: 1% 15%;
}

.main-title{
    font-size: 5rem;
}

.roll{
    background-color: #d00a1a ;
    color: #F2E8D5;
    
}

.dice{
    text-align: center;
    display: inline-block;
}

.game_area{
    padding: 5%;
}

.image{
    width: 50%;
}

footer{
    color:#A88F77 ;
    font-size: 0.7em;
}

a:link{
    color:#d00a1a;
    text-decoration: none;
}

a:visited{
    color: #A88F77;
}

a:hover{
    color:#A81411 ;
}