body{
    font-family: 'Montserrat', sans-serif;
}


#title{
    background-color: #ff4c68;
    color: #fff;
}

/* Navbar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{

    font-family: 'Ubuntu';
    font-size:2.5rem;
    font-weight: bold;
    text-shadow: 1px 0.5px 1px black;
}

.nav-item{
    padding: 0 20px;  
}

.nav-link{
    font-family: 'Montserrat-light' ;
    font-size: 1.25rem;
    bottom: 50%;
   
   }

.container-price{
    margin-left: 40%;
}


.container-fluid{
    padding: 5% 15% 8% ;
}

h1{
font-family: 'Montserrat-black', sans-serif;
font-size: 3.5rem;
font-weight: bold;
text-shadow: 1px 0.5px 1px black;
}


/* Buttons */

.download-button{
    margin: 5% 3% 5% 0 ;

}

/* Image */

.fit-in{
    position: relative;
}

#rotate {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
    
    
    
  }


/* Features */

#features{
    background-color: #fff;
    padding: 10% 15% 10%;
    position: relative;

}


h3{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: x-large;
    font-weight: 500;
}

p{
    color: #8f8f8f;
}

.icon{
    margin-bottom: 1rem;
}

.div-feat-icons{
    padding: 5% 5%;
    text-align: center;
}

.feat-icon{
       color:#ef8172;
  

}

.feat-icon:hover{
    color:#ff4c68;
}

/* Testimonials */

#testimonials{
    
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

h2{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 500;

}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    
}

.testmonial-carrs{
    padding: 7% 15%;
}

/*Press*/

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 10%;
}

.press-logo{
    width: 15%;
    margin: 20px 40px 20px;
}

/*Pricing*/

#pricing{
    padding: 100px;
    text-align: center;
}

.card-collum{
    padding: 2% 3%;
}


/*View-port / Media Query*/

@media (max-width: 990px) {

#title{
    text-align: center;
}

.fit-in{
    position: static;
}
#rotate{
    position: static;
    transform: rotate(0);
}

}

/* CTA */

#cta{
    background-color: #ff4c68;
    padding: 10% 15% 10%;
    text-align: center;
}

.h3-cta{
font-family: 'Montserrat-black', sans-serif;
font-size: 3rem;
line-height: 1.5;
font-weight: bolder;
color: #fff;
text-shadow: 1px 0.5px 1px black;
}

/* Footer */
#footer{
    text-align: center;
    background-color: #fff;
    padding: 7% 15% 7% ;
}

.sm_icon{
letter-spacing: 0.5rem;
}

.link-final:link{
    color:#ef8172
}

.link-final:visited{
    color: #8f8f8f;
}

.link-final:hover{
    color: #ff4c68;
}

.link-final:active{
    color: #ff4c68;
}